:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;

  --white: rgba(255, 255, 255, 0.87);
  --dark: #242424;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  place-items: center;
}

.yaw-toolbar {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

button,
.option-element {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: var(--dark);
  transition: all 0.3s ease;
}
button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--white);
}
button:hover,
.option-element:hover,
.option-element.active {
  background: var(--white);
  color: var(--dark);
}
.option-element {
  padding: 10px;
  border-bottom: 1px solid var(--white);
  gap: 5px;
}

.option-element:last-child {
  border-bottom: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --dark: #ffffff;
    --white: #242424;
  }
}
